{% extends "base.html" %}
{% block title %}Login{% endblock %}
{% block content %}

<form action="#" method="post">
    <label>Nombre</label>
    <input type="text" name="name-input"></input>
    <br>
    <label>Correo</label>
    <input type="text" name="email-input"></input>
    <br>
    <label>Rut</label>
    <input type="text" name="rut-input"></input>
    <br>
    <label>fecha de la cita</label>
    <input type="date" name="date-input"></input>
    <br>
    <label>Motivo (opcional)</label>
    <input type="text" name="motivo-input"></input>
    <br>
    <input type="submit" value="Enviar"></input>
</form>
{% endblock %}