<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Centro Médico</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='mainPage_style.css') }}">
</head>
<body>
    <!-- Barra superior -->
    <nav class="navbar">
        <h1>Centro Médico SaludPlus</h1>
        <ul>
            <li><a href="{{ url_for('index') }}">Médicos</a></li>
            <li><a href="#sobre-nosotros">Sobre Nosotros</a></li>
            <li><a href="#contacto">Contacto</a></li>
        </ul>
    </nav>

    <!-- Slider -->
    <div class="slider">
        <div class="slides">
            <img src="menu.jpg" alt="Foto 1">
            <img src="menu2.jpg" alt="Foto 2">
            <img src="menu3.jpg" alt="Foto 3">
        </div>
        <div class="dots">
            <button onclick="showSlide(0)" class="active"></button>
            <button onclick="showSlide(1)"></button>
            <button onclick="showSlide(2)"></button>
        </div>
    </div>

    <!-- Pie de página -->
    <footer class="footer">
        <div class="about-us" id="sobre-nosotros">
            <h3>Sobre Nosotros</h3>
            <p>Somos un centro médico comprometido con la salud y el bienestar de nuestros pacientes.</p>
        </div>
        <div class="contact" id="contacto">
            <h3>Contacto</h3>
            <p>Teléfono: +1 234 567 890</p>
            <p>Email: contacto@saludplus.com</p>
        </div>
    </footer>

    <script src="{{ url_for('static', filename='js/main_page.js') }}"></script>
</body>
</html>
