<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Agenda del Médico - Calendario Mensual</title>
    <!-- Enlace al archivo de estilos CSS para el calendario mensual -->
    <link rel="stylesheet" href="{{ url_for('static', filename='monthly_calendar_style.css') }}">
</head>
<body>
    <!-- Contenedor principal del calendario -->
    <div class="calendar-container">
        <!-- Título del calendario -->
        <h1 id="calendarTitle">Calendario del Mes</h1>
        <!-- Contenedor donde se generará el calendario -->
        <div id="calendarContainer"></div>
    </div>
    <!-- Enlace al archivo JavaScript para la lógica del calendario mensual -->
    <script src="{{ url_for('static', filename='js/monthly_calendar.js') }}"></script>
</body>
</html>